#body
{background-color :azure;}
#red
{ color:red;}
#blue
{ color:blue;}
#green
{ color:green;}
#yellow
{ color:yellow;}
#orange
{ color:orange;}
#black
{ color:black;}
#pink
{ color:pink;}
